<?xml version='1.0' encoding='utf-8'?>
<!--This does not replace URDF, and is not an extension of URDF.
    This is a format for representing semantic information about the robot structure.
    A URDF file must exist for this robot as well, where the joints and the links that are referenced are defined
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ar3">
  <xacro:include filename="$(find ar3_moveit_config)/config/ar3_arm.xacro" />
  <xacro:ar3_arm />
</robot>
