<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ar3_robot">
  <xacro:arg name="use_sim" default="false" />

  <!-- Enable setting arguments from the launch file -->
  <xacro:arg name="use_fake_hardware" default="false" />
  <xacro:arg name="fake_sensor_commands" default="false" />
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="slowdown" default="100.0" />

  <!-- Import Ar3 macro -->
  <xacro:include filename="$(find ar3_description)/urdf/ar3_description.urdf.xacro" />

  <!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <xacro:include filename="$(find ar3_description)/gazebo/ar3.gazebo.xacro" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find ar3_description)/gazebo/ar3.materials.xacro" />

  <!-- Import Ar3 ros2_control description -->
  <xacro:include filename="$(find ar3_description)/ros2_control/ar3_system_position_only.ros2_control.xacro" />

  <!-- Used for fixing robot -->
  <link name="world"/>
  <gazebo reference="world">
    <static>true</static>
  </gazebo>

  <xacro:ar3 parent="world" prefix="$(arg prefix)">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:ar3>

  <xacro:ar3_gazebo prefix="$(arg prefix)" />

  <xacro:ar3_system_position_only
    name="AR3SystemPositionOnly" prefix="$(arg prefix)"
    use_fake_hardware="$(arg use_fake_hardware)"
    fake_sensor_commands="$(arg fake_sensor_commands)"
    slowdown="$(arg slowdown)" />

</robot>
